@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-image {
  width: 100%;
}

h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}

.heading-details {
  margin-top: 20px;
  margin-left: 20px;
}

.bullet-info {
  margin-top: 20px;
  margin-left:20px;
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  display: flex;
  gap: 10px;
}

.final-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 10px;
  font-weight: bold;
}

input {
  height: 60px;
  border-radius: 10px;
  font-size: 17px;
  padding-left: 20px;
  border-width: 1px;
  cursor: pointer;
}

button {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-width: 0px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-size: 17px;
  cursor: pointer;
}
button:hover {
  background-color: hsl(4, 100%, 67%);
}

.right-side {
  display: none;
}

.rowpara {
  display: flex;
  justify-content: space-between;
}

.invalidCase {
  color: red;
  font-size: 13 px;
}

.success-card {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.success-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
  margin-left: 24px;
  gap: 20px;
}

.tickmark-image {
  width: 70px;
}

.heading {
  font-family: 'Roboto';
  color:  hsl(234, 29%, 20%);
  font-size: 40px;
  font-weight: bold;
}

.success-details {
  font-family: 'Roboto';
  color: hsl(234, 29%, 20%);
  line-height: 24px;
  padding-right: 10px;
}

.lower-div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.dissmiss-button {
  width: 90%;
  color: white;
  font-family: 'Roboto';
}

.dissmiss-button:hover {
  background-color:hsl(4, 100%, 67%)
}


@media screen and (min-width: 769px) {
  .top-image {
    display: none;
  }
  body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app {
    align-self: center;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
  }

  h1 {
    font-size: 60px;
    color: hsl(234, 29%, 20%);
  }

  .left-side {
    padding: 10px;
    width: 50%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 20px;

  }

  .right-side {
    display: block;
    width: 50%;
    margin: 0;
    padding: 20px;
 
  }

  .rightImage {
    width: 100%;
  }

  .success-card {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 20px;
  }

  .success-message {
    margin-top: 30px;
    margin-left: 40px;
  }

  .tickmark-image {
    width: 50px;
    height: auto;
  }

  .heading {
    font-size: 35px; 
  }

  .success-details {
    line-height: normal;
    font-size: 14px;
    margin-right: 40px;
  }

  .dissmiss-button {
    width: 80%;
    height: 50px;
    font-size: 14px;
  }

}